{% extends 'main/layout.html' %}

{% block title%}リスト{% endblock %}

{% block body %}
    <table class="table">
        <tr>
            <th>ISBNコード</th>
            <th>書名</th>
            <th>価格</th>
            <th>著者</th>
            <th>出版社</th>
            <th>刊行日</th>
        </tr>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.price }}</td>
                    <td>
                        {% for b in book.author_set.all %}
                            <div>{{ b.name }}</div>
                        {% endfor %}
                    </td>
                    <td>{{ book.publisher }}</td>
                    <td>{{ book.publised|date:'DATE_FORMAT' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
